<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Lumière Bijoux</title>
        <meta name="keywords" content="bijuterii, aur, argint, coliere, inele, cercei, bratari, cadouri, accesorii">
        <meta name="description" content="Descopera colectia noastra de bijuterii din aur si argint. Accesorii perfecte pentru orice ocazie!">
        
        <%- include("../fragmente/head.ejs") %>
    </head>

    <body>
        <%- include("../fragmente/header.ejs") %>
        <%- include("../fragmente/galerie.ejs") %>  
        <%- include("../fragmente/footer.ejs") %>    
    </body>
</html>