<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="keywords" content="bijuterii, aur, argint, coliere, inele, cercei, bratari, cadouri, accesorii">
        <meta name="description" content="Descopera colectia noastra de bijuterii din aur si argint. Accesorii perfecte pentru orice ocazie!">
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
        <title>Lumière Bijoux - home</title>
        <%- include("../fragmente/head") %> 
           
        <script type="text/javascript" src=/resurse/js/produse.js></script>
        <script type="text/javascript" src=/resurse/js/produse-cos.js></script>
        <script src="/resurse/js/comparare.js"></script>
        <script src="/resurse/js/produse.js"></script>


        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="/resurse/css/customizare_bootstrap.css" type="text/css" />

    </head>
    <body>
        <%- include("../fragmente/header") %>

        <h1>Seturi de produse</h1>

        <%- include("../fragmente/set") %>

    </body>


