<footer>
    <p id="banner">Acesta este un proiect școlar!</p>

    <address>
        <h2>Contact</h2>
            <p>Ne poti gasi atat pe Facebook cat si pe Instagram!</p>
            <p>Urmareste-ne pe: </p>
                <p>
                    <a href = "https://www.facebook.com/" target = "_blank"> <i class="fa fa-facebook-f"></i> Facebook</a>
                </p>
                <p>
                    <a href = "https://www.instagram.com/" target = "_blank"> <i class="fa fa-instagram"></i> Instagram</a>
                </p>

        <p>Telefon: <a href = "tel:0234334133"> 0234334133</a></p>

        <p>Email: <a href="mailto:contact@Lumière-Bijoux.ro">contact@Lumière-Bijoux.ro</a></p>
        <p>Chat pe <a href="https://wa.me/40234334133" target="_blank"><i class="fa fa-whatsapp"></i> WhatsApp</a></p>

        <p>Adresa: <a href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@44.4355355,26.0995867,622m/data=!3m2!1e3!4b1!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh?hl=ro&entry=ttu&g_ep=EgoyMDI1MDIyNi4xIKXMDSoASAFQAw%3D%3D" target="_blank">
            Strada Academiei 14, Bucuresti</a></p>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2707.923799103337!2d26.0995867!3d44.4355355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e1!3m2!1sro!2sro!4v1741122697671!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </address>
    <a href = "#" title="mergi sus" id = "link-top">
        <div id = "cerc">
            <div id = "sageata">
            <div id = "triunghi"></div>
            <div id = "bara-verticala"></div> 
            </div>
        </div>
    </a>
    <p><small>&copy; <time datetime = "2025-03-03">Martie 2025</time>- Toate drepturile rezervate.</small></p>
</footer>